<!DOCTYPE html> 
<html lang="ru"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'platforma/style.css' %}">
        <link rel="stylesheet" href="{% static 'platforma/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'platforma/jquery.fancybox.min.css' %}">         
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic"> 
        <link rel="stylesheet" href="{% static 'platforma/fonts/PT Root UI Bold_Web/PT Root UI_Bold.css' %}"> 
        <link rel="stylesheet" href="{% static 'platforma/fonts/PT Root UI Medium_Web/PT Root UI_Medium.css' %}">
    </head>     
    <body> 
        <header class="header"> 
            <div class="container"> 
                <div class="header_inner"> 
                    <div class="header_logo"> 
                        <a href="#">  <img src="{% static 'platforma/img/logo.png' %}" alt="logo">  </a> 
                    </div>                     
                    <nav class="header_menu"> 
                        <ul> 
                            <li>
                                <a href="#">О нас</a>
                            </li>                             
                            <li>
                                <a href="#">Тендеры</a>
                            </li>                             
                            <li>
                                <a href="#">Поставщики</a>
                            </li>                             
                            <li>
                                <a href="#">Новости</a>
                            </li>                             
                            <li>
                                <a href="#">Поддержка</a>
                            </li>                             
                            <li>
                                <a href="#">Контакты</a>
                            </li>                             
                        </ul>                         
                    </nav>                     
                    <div class="header_enter_reg"> 
                        <a class="header_enter_account" href='#'>Войти</a> 
                        <a data-fancybox data-src="#modal" href="javascript:;" class="header_reg_account" href='#'>Регистрация</a> 
                    </div>                     
                </div>                 
            </div>             
        </header>         
        <section class="home"> 
            <div class="container"> 
                <div class="home_inner"> 
                    <div class="home_inner-content"> 
                        <div class="home_title"> 
                            <h1>B2B-платформа для поиска производителей НКУ</h1> 
                        </div>                         
                        <div class="home_text"> 
                            <h2>Упрощаем поиск производителей шкафов управления и автоматики, силовых распределительных щитов, ВРУ и ГРЩ</h2> 
                        </div>                         
                        <div class="home_btn"> 
                            <a data-fancybox data-src="#modal" href="javascript:;" class="home_reg_account" href='#'>Попробовать бесплатно</a> 
                        </div>                         
                    </div>                     
                    <div class="home_img"> 
                        <img src="{% static 'platforma/img/home_img.png' %}" alt="home_img"> 
                    </div>                     
                </div>                 
            </div>             
        </section>         
        <section class="category"> 
            <div class="container"> 
                <div class="category_inner"> 
                    <div class="category_title"> 
                        <h2>Категории:</h2> 
                    </div>                     
                    <div class="category_inner-content"> 
                        <div class="category_btn"> 
                            <h3>Шкафы управления и автоматики</h3> 
                        </div>                         
                        <div class="category_btn"> 
                            <h3>Шкафы силовые и освещения до 250 А</h3> 
                        </div>                         
                        <div class="category_btn"> 
                            <h3>Шкафы силовые и освещения свыше 250 А</h3> 
                        </div>                         
                        <div class="category_btn"> 
                            <h3>Главные распред. щиты (ГРЩ)</h3> 
                        </div>                         
                    </div>                     
                </div>                 
            </div>             
        </section>         
        <section class="benefit"> 
            <div class="container"> 
                <div class="benefit_inner"> 
                    <div class="benefit_inner-content"> 
                        <div class="benefit_title"> 
                            <h1>Мы снижаем нагрузку на Ваших специалистов</h1> 
                        </div>                         
                        <div class="benefit_text"> 
                            <h2>Разместить заказ очень просто. Общайтесь с исполнителями прямо на площадке.
                            Никаких десятков звонков и почтовых переписок. Все предложения в одном месте.</h2> 
                        </div>                         
                    </div>                     
                    <div class="benefit_img"> 
                        <img src="{% static 'platforma/img/benefit_img.png' %}" alt="benefit_img"> 
                    </div>                     
                </div>                 
            </div>             
        </section>         
        <section class="stage"> 
            <div class="container"> 
                <div class="stage_inner"> 
                    <div class="stage_title"> 
                        <h2>Как работать на площадке:</h2> 
                    </div>                     
                    <div class="stage_inner-content"> 
                        <div class="stage-content"> 
                            <div class="stage_number"> 
                                <h3>1</h3> 
                            </div>                             
                            <div class="stage_name"> 
                                <h3>Разместить заказ</h3> 
                                <p>Создавайте проект, это займет у Вас не более 5 минут</p> 
                            </div>                             
                        </div>                         
                        <div class="stage-content"> 
                            <div class="stage_number"> 
                                <h3>2</h3> 
                            </div>                             
                            <div class="stage_name"> 
                                <h3>Дождаться предложений</h3> 
                                <p>Наблюдайте за действиями поставщиков: за их ценовыми предложениями и условиями</p> 
                            </div>                             
                        </div>                         
                        <div class="stage-content"> 
                            <div class="stage_number"> 
                                <h3>3</h3> 
                            </div>                             
                            <div class="stage_name"> 
                                <h3>Провести переговоры</h3> 
                                <p>Общайтесь с поставщиками в онлайн чате на площадке</p> 
                            </div>                             
                        </div>                         
                        <div class="stage-content"> 
                            <div class="stage_number"> 
                                <h3>4</h3> 
                            </div>                             
                            <div class="stage_name"> 
                                <h3>Выбрать исполнителя</h3> 
                                <p>Выбирайте поставщиков на основе предложения, рейтинга и отзывов от реальных заказчиков</p> 
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
            </div>             
        </section>         
        <section class="producer"> 
            <div class="container"> 
                <div class="producer_inner"> 
                    <div class="producer_title"> 
                        <h2>Наши поставщики:</h2> 
                    </div>                     
                </div>                 
            </div>             
        </section>         
        <section class="fresh_tenders"> 
            <div class="container"> 
                <div class="fresh_tenders_inner"> 
                    <div class="fresh_tenders_title"> 
                        <h2>Свежие тендеры:</h2> 
                    </div>                     
                    <div class="fresh_tenders-content"> 
                        <div class="fresh_tenders_window"> 
                            <div class="fresh_tenders-header"> 
                                <div class="tenders-category"> 
                                    Шкафы управления и автоматики
</div>                                 
                                <div class="tenders-name"> 
                                    <h3>Шкафы управления вентиляцией - 5 штук</h3> 
                                </div>                                 
                            </div>                             
                            <div class="fresh_tenders-description"> 
                                Описание:
                                <br>Шкафы управления вентиляцией ТРК на базе контроллеров Carel. Проект во вложении.
                            </br>                             
                        </div>                         
                    </div>                     
                    <div class="fresh_tenders_window"> 
                        <div class="fresh_tenders-header"> 
                            <div class="tenders-category"> 
                                Шкафы управления и автоматики
</div>                             
                            <div class="tenders-name"> 
                                <h3>Шкафы управления вентиляцией - 5 штук</h3> 
                            </div>                             
                        </div>                         
                        <div class="fresh_tenders-description"> 
                            Описание:
                            <br>Шкафы управления вентиляцией ТРК на базе контроллеров Carel. Проект во вложении.
                        </br>                         
                    </div>                     
                </div>                 
            </div>             
            <div class="fresh_tenders-content"> 
                <div class="fresh_tenders_window"> 
                    <div class="fresh_tenders-header"> 
                        <div class="tenders-category"> 
                            Шкафы управления и автоматики
</div>                         
                        <div class="tenders-name"> 
                            <h3>Шкафы управления вентиляцией - 5 штук</h3> 
                        </div>                         
                    </div>                     
                    <div class="fresh_tenders-description"> 
                        Описание:
                        <br>Шкафы управления вентиляцией ТРК на базе контроллеров Carel. Проект во вложении.
                    </br>                     
                </div>                 
            </div>             
            <div class="fresh_tenders_window"> 
                <div class="fresh_tenders-header"> 
                    <div class="tenders-category"> 
                        Шкафы управления и автоматики
</div>                     
                    <div class="tenders-name"> 
                        <h3>Шкафы управления вентиляцией - 5 штук</h3> 
                    </div>                     
                </div>                 
                <div class="fresh_tenders-description"> 
                    Описание:
                    <br>Шкафы управления вентиляцией ТРК на базе контроллеров Carel. Проект во вложении.
                </br>                 
            </div>             
        </div>         
    </div>     
</div>   
<div id="modal"> 
    <h2>Здесь будет окно регистрации</h2> 
    <p>А может быть и нет</p> 
</div> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script src="{% static 'platforma/js/jquery.fancybox.min.js' %}"></script> 
<script src="{% static 'platforma/js/main.js' %}"></script>  
